apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: staging
spec:
  type: ClusterIP  # Pode ser ClusterIP, já que o Ingress vai expor
  selector:
    app: api
  ports:
    - port: 80
      targetPort: 3000

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: staging
  labels:
    app: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: geraldobl58/api:latest
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: staging
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DATABASE_URL
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 512Mi

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api
  namespace: staging
  annotations:
    kubernetes.io/ingress.class: nginx
    ingress.kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  ingressClassName: nginx
  rules:
  - host: api.staging.ogeraldoluiz.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: api
            port:
              number: 80
  tls:
  - hosts:
    - api.staging.ogeraldoluiz.com
    secretName: tls-cert-api-staging
---
# Secret com a string de conexão do Postgres
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: development
type: Opaque
data:
  DATABASE_URL: cG9zdGdyZXNxbDovL2RvYWRtaW46QVZOU185ZTVNOElRcXFMUV9YdlB2WkVGQGRiLXBvc3RncmVzcWwtZnJhMS05NDk1Mi1kby11c2VyLTIxODE0NTM1LTAuZC5kYi5vbmRpZ2l0YWxvY2Vhbi5jb206MjUwNjAvZGVmYXVsdGRiP3NzbG1vZGU9cmVxdWlyZQ==